# Reviewers for build scripts, CI configuration and signing
/.github/       @jrosskopf
/CMakeLists.txt @jrosskopf
/vcpkg.json     @jrosskopf
/src/version_info.rc.in @jrosskopf
/docs/SIGNING.md @jrosskopf
